#headerBanner {
    padding: 12px 0;
    text-align: center;
    background-color: #eee;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    transition: all 0.25s;
    height: 40px;
}

#headerBanner:hover {
    opacity: 0.8;
}

#adminBanner {
    width: 100%;
    display: block;
    color: var(--color-white);
    background-color: var(--brand-color);
    font-size: 14px;
    padding: 6px 0;
}