header { position: relative; background-color: #fff; z-index: 10; }
header #headerLine .wrapper .empty button { display: none; }
header #headerLine {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #headerLine .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
header #headerLine .wrapper .empty { width: 100px; }
header #headerLine .wrapper #headerLogo { width: 200px; height: auto; }
header #headerLine .wrapper #headerLogo img { width: 100%; height: 100%; }

header  #menuBtn {
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    display: flex;
    justify-content: center;
    margin-right: 24px;
    margin-bottom: 6px;
    flex: none;
}

header #menuBtn.show i { width: 0; }
header #menuBtn.show i:nth-child(2) { width: 100%; transform: rotate(45deg); }
header #menuBtn.show i:nth-child(3) { width: 100%; transform: rotate(-45deg); }

header #menuBtn i {
    position: absolute;
    transition: all 0.25s;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    top: 9px;
}

header #menuBtn i:first-child { top: 0; }
header #menuBtn i:last-child { top: unset; bottom: 0; }
header #menuBtn i:last-child::after {
    content: 'MENU';
    font-style: normal;
    font-size: 11px;
    margin-top: 4px;
    display: block;
}
header #menuBtn.show i:last-child::after { display: none; }

header #headerLine #member {
    display: flex;
    align-items: center;
    gap: 12px;
}

header #headerLine #member a {
    font-size: 16px;
}

header nav { position: relative; }

header nav .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .wrapper li {
    display: none;
    align-items: center;
    position: relative;
    padding: 0 18px;
    height: 50px;
    flex: none;
}
header nav .wrapper li.show { display: flex; }
header nav .wrapper li.true { display: flex; }
header nav .wrapper li a { font-size: 18px; color: var(--color-black); }

header nav .wholeMenu {
    position: relative;
    transition: all 0.25s;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    z-index: 2;
    padding: 100px 0 60px;
    visibility: hidden;
    opacity: 0;
}

header nav .wholeMenu.show { opacity: 1; visibility: visible; }
header nav .wholeMenu ul { display: flex; justify-content: space-between; }
header nav .wholeMenu ul li { position: relative; display: block; height: auto; padding: 0; }
header nav .wholeMenu ul li a { position: relative; transition: all 0.25s; }
header nav .wholeMenu ul li a.wholeMenu-main { display: block; font-weight: 600; font-size: 20px; margin-bottom: 20px; }
header nav .wholeMenu ul li a.small-menu { font-size: 15px; margin-left: 6px; color: var(--color-placeholder); }
header nav .wholeMenu ul li a:hover { color: var(--brand-color); }
header nav .wholeMenu ul li .categories { display: flex; flex-direction: column; gap: 20px 0; }
header nav .wholeMenu ul li .categories .category { text-align: left; display: flex; flex-direction: column; gap: 6px; }


/* 개별 메뉴 */
header .perMenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.25s;
    top: 50px;
    z-index: 2;
    background-color: var(--color-white);
    left: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    display: flex;
    width: auto;
    min-width: 300px;
}
header .perMenu.show { opacity: 1; visibility: visible; }
header .perMenu.have-img { min-width: 300px; height: auto; }
header nav .wrapper li .perMenu a { position: relative; transition: all 0.25s; font-size: 16px; font-weight: 500; }
header nav .wrapper li .perMenu a:hover { color: var(--brand-color); }
header .perMenu .categories { display: flex; flex-wrap: wrap; padding: 30px 35px; gap: 30px; min-width: 250px; flex: none; }
header .perMenu .image-line { width: 100%; min-width: 200px; height: auto; display: flex; }
header .perMenu .category { width: calc(50% - 15px); position: relative; transition: all 0.25s; text-align: left; flex: none; }
header .perMenu .thumbnail { width: 250px; }
header .perMenu .image-line img, header .perMenu .thumbnail img { width: 100%; height: 100%; }

header .perMenu .category ul { margin-top: 6px; }
header .perMenu .category ul li {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 6px;
    height: auto;
    align-items: start;
}
header .perMenu .category ul li a { color: var(--color-placeholder); font-size: 14px; margin-left: 12px; min-width: 50px; }
header .perMenu .category ul li a:hover { color: var(--brand-color); }

.mobile-menu { display: none; }
.mobile-quick { display: none; }

@media screen and (max-width : 720px) {
    header { position: sticky ; top: 0; }
    header #headerLine .wrapper .empty { position: absolute; left: 30px; }
    header #headerLine .wrapper .empty button { display: flex; }
    header #headerLine #member { display: none; }
    header #headerLine .mobile-quick { display: flex; position: absolute; right: 12px; bottom: 0; }
    header #headerLine .mobile-quick button { width: 70px; }
    header #headerLine .wrapper { justify-content: center; }
    header #headerLine .wrapper #headerLogo { width: 40%; }
    header nav { display: none; }

    .mobile-menu {
        display: block;
        position: fixed;
        transition: all 0.25s;
        z-index: 10;
        top: 0;
        left: -100%;
        width: 85%;
        height: 100%;
        background-color: var(--color-white);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
        overflow: auto;
    }
    .mobile-menu.show {
        left: 0;
    }
    .mobile-menu .menu-top { padding: 20px; border-bottom: 1px solid var(--color-lightGray); width: 100%; display: flex; }
    .mobile-menu .menu-body { text-align: left; padding: 20px; }
    .mobile-menu .menu-body .mobile-member { font-size: 16px; display: flex; align-items: center; gap: 12px; font-weight: 500; margin-bottom: 30px; }
    .mobile-menu .menu-body .mobile-member a { display: flex; align-items: center; }
    .mobile-menu .menu-body .mobile-member a:first-child::after {
        content: '';
        display: block;
        width: 1px;
        height: 15px;
        margin-left: 12px;
        background-color: var(--color-black);
    }
    .mobile-menu .menu-body .mobile-categories li { padding-bottom: 20px; width: 100%; }
    .mobile-menu .menu-body .mobile-categories li:last-child { padding-bottom: 0; }
    .mobile-menu .menu-body .mobile-categories button { width: 100%; display: flex; align-items: center; justify-content: space-between; font-size: 16px; font-weight: 500; }
    .mobile-menu .menu-body .mobile-categories button .arrow { position: relative; transition: all 0.25s; }
    .mobile-menu .menu-body .mobile-categories button .arrow.show { transform: rotate(180deg); }
    .mobile-menu .menu-body .mobile-categories .categories { margin-top: 12px; display: flex; flex-direction: column; gap: 6px; display: flex; flex-direction: column; gap: 6px; margin-left: 12px; }
    .mobile-menu .menu-body .mobile-categories .categories .category { display: flex; flex-direction: column; gap: 6px; margin: 6px 0; }
    .mobile-menu .menu-body .mobile-categories .categories .category a { color: var(--color-black); font-size: 15px; }
    .mobile-menu .menu-body .mobile-categories .categories .category a.small-menu { color : var(--color-placeholder); margin-left: 10px; }
    .mobile-menu .menu-footer { position: relative; width: 100%; padding: 0 20px 20px; }
    .mobile-menu .menu-footer .event-banner { width: 100%; height: 100px; margin-bottom: 20px; }
    .mobile-menu .menu-footer .event-banner a { display: block; width: 100%; height: 100%; }
    .mobile-menu .menu-footer .event-banner a img { height: 100%; object-fit: cover; }
    .mobile-menu .menu-footer .sns-platform { display: flex; flex-direction: column; gap: 20px 0; margin-top: 50px; }
    .mobile-menu .menu-footer .sns-platform section .main-logo { position: relative; display: flex; align-items: center; height: 50px; }
    .mobile-menu .menu-footer .sns-platform section .main-logo::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-gray);
    }
    .mobile-menu .menu-footer .sns-platform section .main-logo img { background-color: var(--color-white); width: 70%; margin: auto; height: 100%; object-fit: cover; z-index: 1; padding: 0 6px; }
    .mobile-menu .menu-footer .sns-platform section .sns-child { margin-top: 12px; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; gap: 6px; }
    .mobile-menu .menu-footer .sns-platform section .sns-child a { width: 40px; height: 40px;}
    .mobile-menu .menu-footer .sns-platform section .sns-child a img { height: 100%; object-fit: contain; }
}