
/* 공통 */
.memberNav { display: flex; align-items: center; justify-content: center; }
.memberNav a {
    font-size: 18px;
    position: relative;
    display: block;
    width: 100%;
    font-weight: 500;
    padding-bottom: 30px;
    border: 1px solid var(--color-Gray);
    border-width: 0 0 1px;
}
.memberNav a.current { color: var(--brand-color); font-weight: 700; }
.memberNav a.current::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: -2px;
    background-color: var(--brand-color);
    left: 0;
    z-index: 1;
}

.membersComponents { padding: 60px 0;  background-color: var(--color-white); }
.membersComponents .innerTitle { margin: 60px 0; }
.membersComponents .membersForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 420px;
    margin: auto;
}
.membersComponents .membersForm li {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.membersComponents label.formTitle { width: 100px; text-align: left; font-weight: 600; flex: none; }
.membersComponents .membersForm li input[type="text"],
.membersComponents .membersForm li input[type="password"] { min-width: auto; width: 100%; }
.membersComponents .membersForm li > div { display: flex; align-items: center; gap: 12px; width: 100%; }
.membersComponents .membersForm li > div.balloon { margin-left: 100px; width: auto; }
.membersComponents .membersForm li > div > label { font-size: 14px; }
.membersComponents .membersForm li > div > button { display: block; width: 100%; background-color: var(--default-background); color: var(--color-white); height: 100%; height: 42px; border-radius: 5px; }
.membersComponents .membersForm li > div > button:hover { background-color: var(--color-black); }
.membersComponents .btns { margin-top: 30px; }
.membersComponents .btns button {
    width: 100%;
    display: block;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}



/* login 로그인 */
#page-login .members {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#page-login .members a { font-size: 14px; }
#page-login .members a:hover { color: var(--default-background); }



/* register 회원가입 */
.registerTerms { margin-top: 40px; text-align: left; }
.registerTerms div { display: flex; align-items: center; justify-content: space-between; width: 100%; }
.registerTerms ul {
    display: flex;
    margin-top: 12px;
    border: 1px solid var(--color-Gray);
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    gap: 12px;
}
.registerTerms li { position: relative; display: flex; align-items: center; gap: 6px; }
.registerTerms li label { font-size: 14px; }
.registerTerms li span { color: var(--color-red); font-size: 14px; }
.registerTerms li a { position: absolute; right: 0; font-size: 12px; border-bottom: 1px solid var(--color-black); }



/* forgot 아이디 비밀번호 찾기 */
#page-forgot .inner {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#page-forgot .inner .childs { width: 100%; }
#page-forgot .inner form {
    background-color: var(--color-lightGray);
    padding: 20px;
    border-radius: 5px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
}

#page-forgot .inner form ul { display: flex; flex-direction: column; gap: 20px; }
#page-forgot .inner form .btns { margin-top: 0; }