.mainSlider {
    height: 800px;
    background-color: #eee;
    cursor: pointer;
}

.mainSlider .swiper-pagination { bottom: 100px; }

.mainSlider .swiper-pagination .swiper-pagination-bullet {
    border-radius: 10px;
    position: relative;
    transition: all 0.25s;
    border: 1px solid var(--brand-color);
    background: none;
    opacity: 1;
    width: 12px;
    height: 12px;
    background-color: var(--color-white);
}

.mainSlider .swiper-pagination .swiper-pagination-bullet:hover { background-color: var(--color-hover); }
.mainSlider .swiper-pagination .swiper-pagination-bullet-active { width: 80px; background-color: var(--brand-color); }
.mainSlider .swiper-pagination .swiper-pagination-bullet-active:hover { background-color: var(--brand-color);}

.my-navigation-buttons {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 50px;
    position: relative;
    bottom: 70px;
    z-index: 1;
}

.my-navigation-buttons button {
    position: relative;
    transition: all 0.25s;
    width: 64px;
    height: 64px;
    box-shadow: 0 8px 10px 5px rgba(0, 0, 0, .05);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
}

.my-navigation-buttons button:hover { background-color: var(--color-hover); }
.my-navigation-buttons button.my-button-pause { width: 130px; height: 130px; }
.my-navigation-buttons button.my-button-pause.paused { background-color: red !important; }

#fixedBanner {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

#fixedBanner .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

#fixedBanner .inner h5 {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

#fixedBanner .inner form {
    display: flex;
    align-items: center;
    gap: 12px;
}

#fixedBanner .inner form div {
    display: flex;
    gap: 6px;
}

#fixedBanner .inner form div input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    cursor: pointer;
}

#fixedBanner .inner form div label {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#fixedBanner #sendCall {
    position: relative;
    transition: all 0.25s;
    color: #fff;
    background-color: var(--brand-color);
    display: block;
    height: 50px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
}

#fixedBanner #sendCall:hover {
    background-color: var(--brand-color-hover);
}