/* ADMIN 어드민 공통 */
.admin-page { min-height: calc(100vh - 60px); }
.admin-page input[type="text"] { height: 40px; font-size: 14px; }
.admin-page input[type="color"] {
    border: 0;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    flex: none;
    position: absolute;
    right: 6px;
    border-radius: 10px;
    border: 1px solid var(--color-gray);
    top: 50%;
    transform: translate(0, -50%);
}
.admin-page input[type="color"]::-webkit-color-swatch,
.admin-page input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}
.admin-page input[type="file"] { display: none; }
.admin-page input[type="file"] + label {
    position: relative;
    transition: 0.25s;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    cursor: pointer;
}
.admin-page input[type="file"]:disabled + label { opacity: 0.8; cursor: no-drop; }
.admin-page input[type="file"]:disabled + label:hover { background-color: var(--color-black); }
.admin-page input[type="file"] + label:hover { background-color: var(--default-background); }
.admin-page input[type="file"] + label svg { margin-bottom: 2px; }
.admin-page .admin-form { text-align: left; margin-top: 50px;}
.admin-page .admin-form .center-menu { display: flex; justify-content: center; align-items: center; margin: 50px 0; }
.admin-page .admin-form ul { position: relative; display: flex; flex-wrap: wrap; gap: 30px; }
.admin-page .admin-form ul li { position: relative; display: flex; flex-direction: column; gap: 12px; width: calc((100% / 4) - 25px); }
.admin-page .admin-form ul.child-3 li { width: calc((100% / 3) - 25px); }
.admin-page .admin-form ul li .admin-form-title { display: block; font-size: 14px; font-weight: 500; }
.admin-page .admin-form ul li .admin-form-title .appendix { font-size: 12px; color: var(--color-placeholder); }
.admin-page .admin-form ul li .input-area { position: relative; display: flex; align-items: center; gap: 6px; min-height: 40px; }
.admin-page .admin-form ul li .input-area button { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; border-radius: 5px; gap: 6px; min-height: 40px; }
.admin-page .admin-form ul li .input-area button.blackBtn a { color: var(--color-white); }
.admin-page .admin-form ul li .input-area .seperate-item { width: 100%; height: 100%; }
.admin-page select { width: 100%; height: 40px; font-size: 14px; }

.admin-page .admin-body-header { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
.admin-page .admin-body-header p.pulblish-status { font-size: 14px; display: flex; align-items: center; gap: 6px; }
.admin-page .admin-body-header p.pulblish-status::before { content: ''; display: block; width: 10px; height: 10px;  border-radius: 50%; background-color: var(--color-red); }
.admin-page .admin-body-header p.pulblish-status.active::before {
    background-color: var(--color-green);
    animation: twinkle 1s alternate infinite;
}
.admin-page .admin-body-header .publish { display: flex; align-items: center; gap: 6px; }
.admin-page .admin-body-header label { font-size: 14px; cursor: pointer; }
.admin-page .admin-body-header button.publish-btn {
    position: relative;
    width: 35px;
    height: 20px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.admin-page .admin-body-header button.publish-btn i.ball {
    position: absolute;
    transition: all 0.25s;
    width: 15px;
    height: 15px;
    display: block;
    background-color: var(--color-white);
    border-radius: 50%;
    left: 2px;
}
.admin-page .admin-body-header button.publish-btn.active { background-color: var(--color-skyblue); }
.admin-page .admin-body-header button.publish-btn.active i.ball { left: unset; left: 15px;}
@keyframes twinkle {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.admin-page .react-datepicker button { width: 20px !important; height: 20px !important; }

.admin-index section {
    position: relative;
    text-align: left;
    padding: 30px 120px;
    border-bottom: 1px solid var(--color-gray);
}

.admin-index section h3.admin-title {
    font-size: 16px;
    font-weight: 600;
}

.admin-index section ul.admin-contents { margin-top: 15px; display: flex; gap: 12px 30px; flex-wrap: wrap; }
.admin-index section ul.admin-contents li { position: relative; min-width: 130px; }
.admin-index section ul.admin-contents li a {
    position: relative;
    transition: 0.25s;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 14px;
    width: 100%;
    height: 42px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.admin-index section ul.admin-contents li a:hover { background-color: var(--default-background); }

.admin-body { padding: 30px 0 120px; }
.admin-body h1.admin-title { font-size: 24px; font-weight: 600; margin-bottom: 30px; }

.add-btn {
    background-color: var(--color-lightGray);
    border: 1px dashed var(--color-gray);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 12px;
    min-height: 60px;
    min-width: 50%;
    margin: auto;
}

.add-btn:hover { background-color: var(--color-gray); }


.admin-page.navigator { display: flex;}
.admin-page.navigator .nav-area { width: 230px; flex: none; }
.admin-page.navigator .nav-area .side-nav { position: relative; height: 100%; border-right: 1px solid var(--color-gray); background-color: var(--color-white); z-index: 10; }
.admin-page.navigator .nav-area .side-nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.admin-page.navigator .nav-area .side-nav ul button {
    position: relative;
    transition: all 0.25s;
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    border-radius: 5px;
    min-height: 42px;
    padding: 0 20px;
    word-break: keep-all;
}
.admin-page.navigator .nav-area .side-nav ul button.minor { opacity: 0.8; margin-top: 12px; }
.admin-page.navigator .nav-area .side-nav ul button.sub { opacity: 0.5; margin-top: 12px; }
.admin-page.navigator .nav-area .side-nav ul li { display: flex; flex-direction: column; gap: }
.admin-page.navigator .nav-area .side-nav button:hover { background-color: var(--default-background); }
.admin-page.navigator .nav-area .side-nav .side-footer { border-top: 1px solid var(--color-gray); padding: 12px; position: sticky; bottom: 0; width: 230px }
.admin-page.navigator .nav-area .side-nav .side-footer a { display: flex; align-items: center; justify-content: center; gap: 12px; font-size: 14px; }
.admin-page.navigator .nav-area .side-nav .side-footer button { width: 100%; height: 42px; border-radius: 5px; }
.admin-page.navigator .contents-area { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }





/* ADMIN-WIDGET 어드민 위젯 */
.admin-widget {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border-bottom: 1px solid var(--color-gray);
    z-index: 10;
    background-color: var(--color-white);
}
.admin-widget button.back-btn { cursor: pointer; }
.admin-widget button.save-btn {
    color: #fff;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--brand-color);
}
.admin-widget button.save-btn:hover { background-color: var(--brand-color-hover); }
.admin-widget button.save-btn:disabled { opacity: 0.5; cursor: no-drop; }



/* EVENT-BANNER 이벤트 배너 */
.event-banner #adminBanner { display: none; }
.event-banner #headerBanner { pointer-events: none; }

/* 헤더 메뉴 */
.menu-category .admin-body .menu-bar {
    display: flex; 
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 50px 0;
    margin-bottom: 120px;
}
.menu-category .admin-body .menu-bar ul {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    min-width: calc(100% / 10);
    transition: all 0.25s;
}
.menu-category .admin-body .menu-bar ul li.top-menu button { background-color: var(--color-black); }
.menu-category .admin-body .menu-bar ul li button:disabled { opacity: 1; }
.menu-category .admin-body .menu-bar ul li.bottom-menu { background-color: rgba(0, 0, 0, 0.3); }
.menu-category .admin-body .menu-bar .bar-contents { position: relative; }
.menu-category .admin-body .menu-bar .bar-contents.children button { background-color: rgba(0, 0, 0, 0.5);}
.menu-category .admin-body .menu-bar .bar-contents .action-icons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-category .admin-body .menu-bar .bar-contents .action-icons button { width: auto; background-color: unset;}
.menu-category .admin-body .menu-bar .bar-contents .action-icons button:hover { opacity: 0.6; }
.menu-category .admin-body .menu-bar .bar-contents button {
    width: 100%;
    font-size: 16px;
    color: var(--color-white);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-category .admin-body .menu-bar .bar-contents .edit-input {
    border: 0;
    height: 30px;
    padding: 0 12px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.menu-category .admin-body .moving {
    height: 40px;
    background-color: var(--color-gray);
    border-radius: 5px;
}

.menu-category .admin-body .moving p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-category .checkboxs { display: flex; gap: 20px; }
.menu-category .image-upload { width: 100%; height: 100%; }
.menu-category .image-upload input[type="file"] + label { background-color: var(--default-background); }
.menu-category .image-upload input[type="file"] + label:hover { background-color: var(--color-black); }
.menu-category input[type="checkbox"] + label { font-size: 14px; }

.image-preview { 
    width: 100%;
    height: 100%;
    min-height: 40px;
    display: block;
    background-color: var(--default-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 6px;
}

.image-preview span { font-size: 13px; color: var(--color-white); }



/* ADMIN-LOGO 어드민 로고 */
.admin-page .admin-form#admin-logo-form ul li { width: calc(50% - 15px); }
.admin-page .admin-form#admin-logo-form ul li span.admin-form-title { text-align: center; font-size: 18px; margin-bottom: 12px; }
#admin-logo #admin-logo-form .logo-box { width: 100%; border: 1px dashed var(--color-gray); padding: 12px 30px; border-radius: 5px; height: 350px; display: flex; align-items: center; justify-content: center; overflow: hidden; }
#admin-logo #admin-logo-form .logo-box img { width: 100%; }
.admin-page .admin-form#admin-logo-form ul li .input-area { margin-top: 15px; }
.admin-page .admin-form#admin-logo-form ul li .input-area.size-input { gap: 6px; }
.admin-page .admin-form#admin-logo-form ul li .input-area.size-input label { flex: none; font-size: 14px; margin-right: 30px; }


/* ADMIN-BUTTONS 어드민 버튼 */
.admin-page .admin-btns { margin-top: 60px; display: flex; align-items: center; gap: 30px; justify-content: center; }
.admin-page .admin-btns button { min-width: 300px; height: 42px; font-size: 16px; font-weight: 500; border-radius: 5px; }


/* ADMIN-PREVIEW 어드민 미리보기 링크 */
#admin-preview .admin-body .preview { display: flex; width: 100%; flex-direction: column; align-items: center; justify-content: center; }
#admin-preview .admin-body .preview .img-line { width: 400px; height: 210px; background-color: var(--color-lightGray); border-radius: 15px 15px 0 0; overflow: hidden; border: 1px solid var(--color-lightGray); border-bottom: 0; }
#admin-preview .admin-body .preview .img-line img { width: 100%; height: 100%; object-fit: cover; object-position: center; }
#admin-preview .admin-body .preview .text-line {
    width: 400px;
    padding: 12px 20px;
    text-align: left;
    border: 1px solid var(--color-lightGray);
    border-radius: 0 0 15px 15px;
}
#admin-preview .admin-body .preview .text-line p.title { font-size: 16px; font-weight: 500; }
#admin-preview .admin-body .preview .text-line p.description { font-size: 14px; margin-top: 4px; }
#admin-preview .admin-body .preview .text-line p.url { margin-top: 12px; font-size: 12px; color: var(--color-darkGray); }
#admin-preview .admin-form ul li { width: calc(50% - 15px); }



/* ADMIN-CONSULTATION 상담 카테고리 */
#admin-consulation #admin-consulation-form ul li { width: 100%; }
#admin-consulation #admin-consulation-form .consultation-items {
    width: 100%;
}
#admin-consulation #admin-consulation-form .consultation-items p:first-child { border-top: 1px solid var(--color-gray); }

#admin-consulation #admin-consulation-form .consultation-items p {
    width: 100%;
    padding: 12px 30px;
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
#admin-consulation #admin-consulation-form .consultation-items p i {
    position: absolute;
    right: 30px;
    cursor: pointer;
}
#admin-consulation #admin-consulation-form .consultation-items p input { width: 200px; text-align: center; }



/* ADMIN-SLIDER 어드민 홈 슬라이드 */
#admin-slider .sliderChild {
    border: 1px dashed var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    border-radius: 5px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}



/* ADMIN-SNS 어드민 sns */
#admin-sns section { width: 100%; display: flex; flex-direction: column; gap: 12px; justify-content: center; align-items: center; }
#admin-sns section .main-logo  { text-align: center; max-width: 150px; cursor: pointer; }
#admin-sns section .sns-child { display: flex; align-items: center; gap: 6px 12px; }
#admin-sns section .sns-child button { width: 35px; height: 35px; }




/* ADMIN-QUICK 퀵 메뉴 */
#admin-quick .contents-view { justify-content: center; }
#admin-quick .contents-view .quick-menu { opacity: 1; position: relative; bottom: unset; right: unset; background-color: var(--color-white); width: 100px; }
#admin-quick .contents-view .quick-menu h6 {
    font-size: 14px;
    font-weight: 600;
    background-color: var(--default-background);
    color: var(--color-white);
    padding: 6px 0;
    border-radius: 5px 5px 0 0;
}
#admin-quick .contents-view .quick-body { border: 1px solid var(--color-gray); }
#admin-quick .contents-view .quick-body li { padding: 12px; border-bottom: 1px solid var(--color-gray); cursor: pointer; }
#admin-quick .contents-view .quick-body li:last-child { border-bottom: 0; }




/* EVENT-BANNER 이벤트 배너 */
#admin-event-banner .banner-item { height: 70px; }
#admin-event-banner .banner-item img { height: 100%; object-fit: cover; }



/* 카테고리 배경 */
.admin-page#consult-back { width: 100%; height: 100%; }
.admin-page#consult-back .admin-body { padding: 0; }
.admin-page#consult-back .consultation-section .inner-form::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.admin-page#consult-back ul { justify-content: center; }

.consultation-section { 
    min-height: 500px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.consultation-section .inner-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray);
    padding: 30px;
    box-shadow: 0px 0px 6px 6px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
.consultation-section .title-area .effect-title {
    display: block;
    background: linear-gradient(to right, #fb44cb, #824ef8);
    color: var(--color-white );
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 100px;
    max-width: 120px;
    margin: auto;
    margin-bottom: 30px;
}
.consultation-section .title-area .form-title { font-size: 16px; margin-bottom: 60px; }
.consultation-section .inner-form form ul { display: flex; flex-direction: column; gap: 12px; }
.consultation-section .inner-form form ul li { display: flex; gap: 12px; align-items: center; }
.consultation-section .inner-form form ul li label { flex: none; min-width: 50px; text-align: start; font-size: 14px; font-weight: 600; }
.consultation-section .consultation-btn {
    background: linear-gradient(to right, #fb44cb, #824ef8);
    color: var(--color-white);
    display: block;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: 600;
}



/* 컨텐츠 페이지 */
#page-setting { width: 100%; position: relative; }
#page-setting .admin-body { width: 100%; height: 100%; padding: 0; }
#page-setting .admin-body .admin-form { 
    margin-top: 0; 
    padding: 20px; 
    border-top: 1px solid var(--color-gray); 
    position: fixed; 
    width: calc(100% - 230px); 
    bottom: 0; right: 0; 
    background-color: var(--color-white); 
}
#page-setting .admin-body .admin-form.yes { position: sticky; width: 100%; }
#page-setting .admin-body .admin-form ul { margin-bottom: 30px; }
#page-setting .admin-btns { margin-top: 0; }
#page-setting .contents-view { justify-content: center; padding: 30px 0; border: 1px dashed var(--color-gray); border-width: 1px 0; }
#page-setting .contents-view .btns { display: flex; align-items: center; gap: 60px; }
#page-setting .admin-body .page-section { position: relative; }
#page-setting .admin-body .page-section:hover { cursor: pointer; }
#page-setting .admin-body .page-section:hover::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); }
#page-setting .admin-body .page-section .video-section {
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* 지도 */
#admin-map .admin-form ul li .input-area .search-btn { width: 150px; }



/* 리뷰 */
#manager-review .nav-view { gap: 0; flex-wrap: wrap; }
#manager-review .nav-view li {
    position: relative;
    transition: all .25s;
    min-width: 100px; 
    height: 60px; 
    background-color: var(--color-lightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--color-darkGray);
    border-right: 0;
    cursor: pointer;
}
#manager-review .nav-view li:hover { background-color: var(--color-black); color: var(--color-white); }
#manager-review .nav-view li:last-child { border-right: 1px solid var(--color-darkGray); }




@media screen and (max-width: 720px) {
    .add-btn { min-width: 100%; min-height: 50px; }
    .admin-index section { padding: 30px 20px; }
    .admin-index section ul.admin-contents { gap: 12px; }
    .admin-index section ul.admin-contents li { min-width: calc((100% / 3) - 8px) }
    .admin-index section ul.admin-contents li a { font-size: 12px; text-align: center; word-break: keep-all; }

    .admin-widget { padding: 12px 20px; }
    .admin-widget h3 {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .admin-widget button.save-btn { width: 80px; }
    .admin-body { padding: 30px 20px 100px; }
    
    .admin-page { width: 100%; }
    .admin-page .admin-form ul { gap: 12px; }
    .admin-page .admin-form ul li, .admin-page .admin-form ul.child-3 li { width: calc((100% / 2) - 6px); }
    .admin-page .admin-form ul li .input-area { flex-direction: column; align-items: start; }
    .admin-page .admin-btns { gap: 12px; margin-top: 30px; flex-direction: column; }
    .admin-page .admin-btns button { width: 100%; min-width: unset; }

    .admin-page.navigator { flex-direction: column; }
    .admin-page.navigator .nav-area { width: auto; }
    .admin-page.navigator .nav-area .side-nav ul { flex-direction: unset; overflow: auto; border-bottom: 1px solid var(--color-gray); position: relative; height: 100%; }
    .admin-page.navigator .nav-area .side-nav ul li { min-width: 120px; }
    .admin-page.navigator .nav-area .side-nav .side-footer { display: none; }

    /* 헤더 메뉴 */
    .menu-category .admin-body-header .publish { display: none; }
    .menu-category .checkboxs { gap: 6px; flex-wrap: wrap; }
    .menu-category .admin-body .menu-bar ul { min-width: calc(100% / 3); }

    /* 홈 슬라이드 */
    #admin-slider .sliderChild { min-height: 160px;}


    /* 페이지 컨텐츠 */
    #page-setting .admin-body .page-section { padding: 0 20px; }
}

