
#admin-header {
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-lightGray);
}
#admin-header svg { cursor: pointer; }
#admin-header h5 { font-size: 18px; font-weight: 400; letter-spacing: -1px;}
#admin-header .btns { display: flex; gap: 12px; }
#admin-header .btns button {
    color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}
#admin-header .btns .saveBtn { background-color: var(--brand-color); }
#admin-header .btns .saveBtn:hover { background-color: var(--brand-color-hover); }