/* ADMIN 어드민 공통 */
.admin-page { min-height: calc(100% - 60px); }
.admin-page input[type="text"] { height: 40px; font-size: 14px; }
.admin-page input[type="color"] {
    border: 0;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    flex: none;
    position: absolute;
    right: 6px;
    border-radius: 10px;
    border: 1px solid var(--color-gray);
}
.admin-page input[type="color"]::-webkit-color-swatch,
.admin-page input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}
.admin-page input[type="file"] { display: none; }
.admin-page input[type="file"] + label {
    position: relative;
    transition: 0.25s;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    cursor: pointer;
}
.admin-page input[type="file"] + label:hover { background-color: var(--default-background); }
.admin-page input[type="file"] + label svg { margin-bottom: 2px; }
.admin-page .admin-form { text-align: left; margin-top: 50px;}
.admin-page .admin-form ul { position: relative; display: flex; flex-wrap: wrap; gap: 30px; }
.admin-page .admin-form ul li { display: flex; flex-direction: column; gap: 12px; width: calc((100% / 4) - 25px); }
.admin-page .admin-form ul li span.admin-form-title { display: block; font-size: 14px; font-weight: 500; }
.admin-page .admin-form ul li .input-area { position: relative; display: flex; align-items: center; gap: 6px; min-height: 40px; }
.admin-page .admin-form ul li .input-area button { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; border-radius: 5px; gap: 6px; }
.admin-page select { width: 100%; height: 40px; font-size: 14px; }

.admin-page .admin-body-header { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
.admin-page .admin-body-header p.pulblish-status { font-size: 14px; display: flex; align-items: center; gap: 6px; }
.admin-page .admin-body-header p.pulblish-status::before { content: ''; display: block; width: 10px; height: 10px;  border-radius: 50%; background-color: var(--color-red); }
.admin-page .admin-body-header p.pulblish-status.active::before {
    background-color: var(--color-green);
    animation: twinkle 1s alternate infinite;
}
.admin-page .admin-body-header .publish { display: flex; align-items: center; gap: 6px; }
.admin-page .admin-body-header label { font-size: 14px; cursor: pointer; }
.admin-page .admin-body-header button.publish-btn {
    position: relative;
    width: 35px;
    height: 20px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.admin-page .admin-body-header button.publish-btn i.ball {
    position: absolute;
    transition: all 0.25s;
    width: 15px;
    height: 15px;
    display: block;
    background-color: var(--color-white);
    border-radius: 50%;
    left: 2px;
}
.admin-page .admin-body-header button.publish-btn.active { background-color: var(--color-skyblue); }
.admin-page .admin-body-header button.publish-btn.active i.ball { left: unset; left: 15px;}
@keyframes twinkle {
    0% { opacity: 0;}
    100% { opacity: 1;}
}




.admin-index section {
    position: relative;
    text-align: left;
    padding: 30px 120px;
    border-bottom: 1px solid var(--color-gray);
}

.admin-index section h3.admin-title {
    font-size: 16px;
    font-weight: 600;
}

.admin-index section ul.admin-contents { margin-top: 15px; display: flex; gap: 12px 30px; flex-wrap: wrap; }
.admin-index section ul.admin-contents li { position: relative; width: calc((100% / 10) - 15px); }
.admin-index section ul.admin-contents li a {
    position: relative;
    transition: 0.25s;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 14px;
    width: 100%;
    height: 42px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.admin-index section ul.admin-contents li a:hover { background-color: var(--default-background); }

.admin-body { padding: 30px 0; }

/* ADMIN-WIDGET 어드민 위젯 */
.admin-widget {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border-bottom: 1px solid var(--color-gray);
    z-index: 10;
}
.admin-widget button.back-btn { cursor: pointer; }
.admin-widget button.save-btn {
    color: #fff;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--brand-color);
}
.admin-widget button.save-btn:hover { background-color: var(--brand-color-hover); }
.admin-widget button.save-btn:disabled { opacity: 0.5; cursor: no-drop; }



/* EVENT-BANNER 이벤트 배너 */
.event-banner #adminBanner { display: none; }
.event-banner #headerBanner { pointer-events: none; }

/* 헤더 메뉴 */
.menu-category .admin-body .menu-bar {
    display: flex; 
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 50px 0;
}
.menu-category .admin-body .menu-bar ul {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% / 10);
    transition: all 0.25s;
}
.menu-category .admin-body .menu-bar .bar-contents { position: relative; }
.menu-category .admin-body .menu-bar .bar-contents.children button { background-color: rgba(0, 0, 0, 0.5);}
.menu-category .admin-body .menu-bar .bar-contents .action-icons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-category .admin-body .menu-bar .bar-contents .action-icons button { width: auto; background-color: unset;}
.menu-category .admin-body .menu-bar .bar-contents .action-icons button:hover { opacity: 0.6; }
.menu-category .admin-body .menu-bar .bar-contents button {
    width: 100%;
    font-size: 16px;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-category .admin-body .menu-bar .bar-contents .edit-input {
    border: 0;
    height: 30px;
    padding: 0 12px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.menu-category .admin-body .moving {
    height: 40px;
    background-color: var(--color-gray);
    border-radius: 5px;
}

.menu-category .admin-body .moving p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}