
#header-banner-dummy {
    padding: 12px 20px;
    text-align: center;
    background-color: var(--color-gray);
    width: 100%;
    display: block;
    position: relative;
    min-height: 43px;
    opacity: 0.5;
    transition: all 0.25s;
    cursor: no-drop;
    user-select: none;
    border: 1px solid var(--color-gray);
}
#header-banner-dummy.active { opacity: 1; cursor: unset; pointer-events: unset; user-select: unset; }