
#manager-coupon #admin-slider .sliderChild { min-height: 150px; }
#manager-coupon #admin-slider .sliderChild.hide::after {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}
#manager-coupon .coupon .coupon-title { font-size: 26px; color: var(--color-black); font-weight: 600; margin-bottom: 12px; }
#manager-coupon .coupon .coupon-period { font-size: 14px; color: var(--color-darkGray); font-weight: 500; }