
#manager-coupon #admin-slider .sliderChild { min-height: 150px; padding: 12px; }
#manager-coupon #admin-slider .sliderChild.hide::after {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}
#manager-coupon .coupon .coupon-title { font-size: 26px; color: var(--color-black); font-weight: 600; margin-bottom: 12px; }
#manager-coupon .coupon .coupon-period { font-size: 14px; color: var(--color-darkGray); font-weight: 500; }


/* Q&A */
#manager-qna .contents-view { flex-direction: column; width: 100%; flex-wrap: nowrap; gap: 0; }
#manager-qna .contents-view .qna { width: 100%; display: flex; flex-direction: column; gap: 6px; padding: 20px; cursor: pointer; }
#manager-qna .contents-view .qna:hover { background-color: var(--color-gray); }
#manager-qna .contents-view .qna .question { width: 100%; display: flex; align-items: center; justify-content: space-between; }
#manager-qna .contents-view .qna .question p { font-weight: 600; white-space: pre-line; display: flex; gap: 6px; }
#manager-qna .contents-view .qna .question p span { color: var(--color-red); }
#manager-qna .contents-view .qna .answer { text-align: start; }
#manager-qna .contents-view .qna .answer p { color: var(--color-darkBlue); }
#manager-qna .contents-view .qna .answer p span { color: var(--color-blue); font-weight: 500; }

@media screen and (max-width: 720px) {
    #manager-coupon .coupon .coupon-title { font-size: 20px; }
    #manager-coupon .coupon .coupon-price { font-size: 14px; }
    #manager-coupon .coupon .coupon-period { font-size: 12px; }
}