
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup .popup-contents { min-width: 300px; }
.popup .popup-contents .popup-header { 
    position: relative; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--default-background);
    border-radius: 5px 5px 0 0;
}
.popup .popup-contents .popup-header h3 { color: var(--color-white); font-size: 14px; font-weight: 500; letter-spacing: -0.5px; }
.popup .popup-contents .popup-header .close-btn { cursor: pointer; position: absolute; right: 20px; margin-top: 2px; }

.popup .popup-contents .popup-body { position: relative; background-color: var(--color-white); }

.popup .popup-contents .popup-body .coupon-details {
    padding: 20px;
    border-bottom: 1px solid var(--color-gray);
    text-align: start;
}
.popup .popup-contents .popup-body .coupon-details .coupon {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.popup .popup-contents .popup-body .coupon-details .coupon .coupon-title { font-size: 24px; font-weight: 600; color: var(--brand-color); }
.popup .popup-contents .popup-body .coupon-details .coupon .coupon-period { font-size: 14px; color: var(--color-placeholder); }
.popup .popup-contents .popup-body .popup-contents { padding: 20px; }
.popup .popup-contents .popup-body .popup-contents .coupon-notice { display: flex; flex-direction: column; align-items: start; gap: 3px; }
.popup .popup-contents .popup-body .popup-contents .coupon-notice p { font-size: 14px; }
.popup .popup-contents .popup-body .popup-contents .coupon-notice p::before { content: '-'; margin-right: 5px; }
.popup .popup-contents .popup-body .popup-contents .use-btn { width: 100%; height: 42px; margin-top: 30px; background-color: var(--brand-color); color: var(--color-white); border-radius: 5px; font-weight: 500; }