/* 말풍선 */
.balloon {
    position: absolute;
    top: -45px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-weight: 500;
    padding: 6px 20px;
    border-radius: 5px;
    animation: balloon 0.25s linear alternate infinite;
    word-break: keep-all;
    width: auto;
}
.balloon::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    transform: rotate(45deg);
}

.balloon.notice { background-color: var(--color-red); }
.balloon.notice::after { background-color: var(--color-red); }
@keyframes balloon {
    0% { top: -45px;}
    100% { top: -47px;}
}

.balloon svg { flex: none; }


/* 로딩 */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loading .loading-circle {
    width: 40px;
    height: 40px;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}