.pages { padding: 60px 0 120px; }
.pages.seperate { display: flex; justify-content: space-between; align-items: start; gap: 50px; }
.pages.seperate .pages-seperate { width: 100%; }
.pages h1.page-title { font-weight: 600; font-size: 24px; margin-bottom: 30px; }
.pages .small-btns { display: flex; justify-content: end; margin: 20px 0; gap: 20px; }
.pages .small-btns.between { justify-content: space-between; }
.pages .small-btns.between .flex { display: flex; align-items: center; gap: 20px; }

.pages .btns { margin-top: 60px; display: flex; align-items: center; gap: 12px; justify-content: center; flex-direction: column; }
.pages .btns button { min-width: 300px; height: 42px; font-size: 16px; font-weight: 500; border-radius: 5px; }

.pages .pages-form .pages-form-title { font-size: 14px; font-weight: 500; flex: none; min-width: 65px; text-align: start; }

.pages .pages-body .body-header.text-contents {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0 50px;
}
.pages .pages-body .body-header.text-contents p { font-weight: 600; font-size: 14px; }
.pages .pages-body .body-header.text-contents p span { font-weight: 400; color: var(--color-darkGray); }
.pages .pages-body .btns { margin-top: 30px; display: flex; align-items: center; gap: 30px; }
.pages .pages-body .btns button { width: 100%; height: 42px; border-radius: 5px; font-size: 16px; font-weight: 500; }


.pages form.pages-form ul { display: flex; flex-direction: column; }
.pages form.pages-form ul li { position: relative; display: flex; align-items: center; gap: 12px; }
.pages form.pages-form ul li label { flex: none; min-width: 60px; text-align: left; }
.pages form.pages-form ul li textarea { height: 300px; resize: none; }
.pages .main-btns { width: 100%; display: flex; align-items: center; justify-content: center; gap: 30px; margin-top: 30px; }
.pages .main-btns button { width: 100%; height: 40px; font-size: 14px; font-weight: 500; border-radius: 5px; }
.pages .contents-top { position: relative; display: flex; justify-content: space-between; align-items: center; width: 100%; }

.pages .pages-form ul{ display: flex; flex-direction: column; gap: 20px; }
.pages .input-area { width: 100%; display: flex; align-items: center; gap: 12px; }
.pages .input-area .seperate-item { width: 100%; }
.pages .input-area button { width: 100%; height: 42px; border-radius: 5px; display: flex; align-items: center; gap: 6px; justify-content: center; }
.pages input[type="file"] { display: none; }
.pages input[type="file"] + label {
    position: relative;
    transition: 0.25s;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    cursor: pointer;
}
.pages input[type="file"]:disabled + label { opacity: 0.8; cursor: no-drop; }
.pages input[type="file"]:disabled + label:hover { background-color: var(--color-black); }
.pages input[type="file"] + label:hover { background-color: var(--default-background); }
.pages input[type="file"] + label svg { margin-bottom: 2px; }


/* Q&A */
#pages-qna .contents-view { flex-direction: column; width: 100%; flex-wrap: nowrap; gap: 0; }
#pages-qna .contents-view .qna { width: 100%; display: flex; flex-direction: column; border-top: 1px solid var(--color-gray); }
#pages-qna .contents-view .qna:last-child .answer { border-bottom: 1px solid var(--color-gray); }
#pages-qna .contents-view .qna .question { width: 100%; display: flex; align-items: center; justify-content: space-between; cursor: pointer; border-bottom: 1px solid var(--color-gray); padding: 12px 20px; background-color: rgba(0, 0, 0, 0.1); }
#pages-qna .contents-view .qna .question p { font-weight: 600; }
#pages-qna .contents-view .qna .question p span { color: var(--color-red); }
#pages-qna .contents-view .qna .answer { text-align: start; max-height: 0; overflow: hidden; transition: all 0.25s; }
#pages-qna .contents-view .qna .answer.open { max-height: 500px; }
#pages-qna .contents-view .qna .answer p { color: var(--color-darkBlue); padding: 12px 20px; }
#pages-qna .contents-view .qna .answer p span { color: var(--color-blue); font-weight: 500; }
#pages-qna .contents-view .qna .question .arrow { position: relative; transition: all 0.25s; }
#pages-qna .contents-view .qna .question .arrow.open { transform: rotate(180deg); }



/* REVIEW */
#pages-review .nav-view ul { gap: 0; flex-wrap: wrap; display: flex; justify-content: center; margin-bottom: 60px; }
#pages-review .nav-view li {
    position: relative;
    transition: all .25s;
    min-width: 100px; 
    height: 60px; 
    background-color: var(--color-lightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--color-darkGray);
    border-right: 0;
    cursor: pointer;
}
#pages-review .nav-view li:hover { background-color: var(--color-black); color: var(--color-white); }
#pages-review .nav-view li:last-child { border-right: 1px solid var(--color-darkGray); }
#pages-review .nav-view li.active { background-color: var(--color-black); color: var(--color-white); }
#pages-review .header-menu { display: flex; justify-content: end; margin: 12px 0 20px; }
#pages-review .items { display: flex; align-items: center; justify-content: start; gap: 30px; flex-wrap: wrap; }
#pages-review .items li { width: calc((100% / 3) - 20px); cursor: pointer; }
#pages-review .items li .img-line {  height: 250px; background-color: var(--color-white); border: 1px solid var(--color-gray); }
#pages-review .items li .img-line img { height: 100%; object-fit: contain; }
#pages-review .items li .review-title { margin-top: 20px; font-weight: 500; font-size: 18px; }


/* 리뷰보기 */
#review-details .title { border-top: 2px solid var(--color-black); padding: 20px; border-bottom: 1px solid var(--color-darkGray); font-size: 18px; font-weight: 600; }
#review-details .contents { padding: 30px 0; border-bottom: 1px solid var(--color-gray); }
#review-details .contents a { width: 100%; }



/* EVENT */
.pages#page-event .slider-area { position: relative; margin: 60px 0 30px; height: 300px; overflow: hidden; border-radius: 30px; }
.pages#page-event .slider-area .swiper { width: 100%; height: 100%; }
.pages#page-event .slider-area .swiper .swiper-pagination-bullet {
    position: relative;
    transition: all 0.25s;
    width: 13px; 
    height: 13px; 
    background-color: var(--color-white); 
    opacity: 1; 
    border-radius: 50px; 
}
.pages#page-event .slider-area .swiper .swiper-pagination-bullet-active { width: 50px; background-color: var(--brand-color); }
.pages#page-event .slider-area div img { width: 100%; height: 100%; object-fit: cover; }
.pages#page-event .grid-area { position: relative; display: flex; justify-content: start; gap: 35px; flex-wrap: wrap; }
.pages#page-event .grid-area .events { position: relative; width: calc((100% / 3) - 24px); }
.pages#page-event .grid-area .events a { position: relative; overflow: hidden; display: block; width: 100%; height: 100%;  }
.pages#page-event .grid-area .events a img { position: relative; transition: all 0.25s; }
.pages#page-event .grid-area .events a:hover img { transform: scale(1.2); }
.pages#page-event .grid-area .events a .hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
}
.pages#page-event .grid-area .events a:hover .hover { opacity: 1;}
.pages#page-event .grid-area .events a .hover p { font-weight: 500; color: var(--color-white); font-size: 24px; }
#event-slide .contents-view .swiper { height: 300px; width: 100%; }
#event-slide .contents-view .swiper .contents { height: 100%; }
#event-slide .contents-view .swiper .contents .img img { object-fit: cover; }



/* MY PAGE */
#pages-mypage .mypage-category {
    width: 100%;
    margin: auto;
    text-align: left;
    border: 1px solid var(--color-gray);
    border-radius: 15px;
}
#pages-mypage .mypage-category li { position: relative; padding: 12px 30px; width: 100%;  border-bottom: 1px solid var(--color-gray);
}
#pages-mypage .mypage-category li:last-child { border-bottom: 0; }
#pages-mypage .mypage-category li a { display: block; width: 100%; display: flex; align-items: center; justify-content: space-between; }




/* MY-ACCOUNT */
#pages-myaccount .pages-form { width: 300px; margin: auto; margin-top: 60px; }
#pages-myaccount .pages-form ul { display: flex; flex-direction: column; gap: 20px; }
#pages-myaccount .pages-form li { gap: 20px; }
#pages-myaccount .pages-form .input-area { width: 100%; }
#pages-myaccount .pages-form .input-area .form-btn { width: 100%; height: 42px; border-radius: 5px; }
#pages-myaccount .member-out { font-size: 12px; margin-top: 20px; text-align: right;padding: 0 12px; cursor: pointer; }




/* COUPON */
#pages-coupon .pages-form ul {
    max-height: 500px;
    overflow: auto;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    padding: 30px 0;
}
#pages-coupon .pages-form ul li {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#pages-coupon .pages-form ul li:last-child { border-bottom: 0; }
#pages-coupon .pages-form ul li .text-contents {
    position: relative;
    border: 1px solid var(--color-darkGray);
    border-right : 1px dashed var(--color-darkGray);
    padding: 30px; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    gap: 6px; 
    min-width: 300px;
}
#pages-coupon .pages-form ul li .text-contents::before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    right: -8px;
    z-index: 2;
    background-color: var(--color-white);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-bottom: 1px solid var(--color-darkGray);
    border-right: 1px solid var(--color-darkGray);
}
#pages-coupon .pages-form ul li .text-contents::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    right: -8px;
    z-index: 2;
    background-color: var(--color-white);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-top: 1px solid var(--color-darkGray);
    border-left: 1px solid var(--color-darkGray);
}
#pages-coupon .pages-form ul li .text-contents .coupon-title { font-size: 14px; }
#pages-coupon .pages-form ul li .text-contents .coupon-discount { font-size: 24px; font-weight: 600; }
#pages-coupon .pages-form ul li .text-contents .coupon-period { color: var(--color-placeholder); font-size: 12px; }
#pages-coupon .pages-form ul li .download {
    position: relative;
    transition: all .25s;
    width: 80px;
    border: 1px solid var(--color-darkGray);
    border-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#pages-coupon .pages-form ul li .download:hover { background-color: var(--color-lightGray); }
#pages-coupon .pages-form ul li .download p { font-size: 12px; font-weight: 500; }
#pages-coupon .pages-form ul li.used { cursor: no-drop; }
#pages-coupon .pages-form ul li.used::after {
        content: '사용완료';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: var(--color-white);
        font-weight: 500;
        font-size: 14px;
}
#pages-coupon .pages-form ul li.used .text-contents,
#pages-coupon .pages-form ul li.used .download { background-color: rgba(0, 0, 0, 0.5); }




/* 페이지 내 이벤트 슬라이드 */
.event-slide { padding: 80px 0; }
.event-slide h1.title { margin-bottom: 30px; font-size: 26px; letter-spacing: -0.8px; }
.event-slide h3.sub-title { font-size: 18px; font-weight: 400; letter-spacing: -0.8px; color: var(--color-placeholder); margin-bottom: 60px; }
.event-slide .wrapper { display: flex; align-items: center; gap: 10px; }
.page-event-slide .swiper-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.event-slide .my-button-prev {
    content: '';
    width: 73px;
    height: 50px;
    background: url('../../img/event_arrow.png') no-repeat top left;
    -webkit-background-size: 156px 50px;
    background-size: 140px 45px;
    flex: none;
    cursor: pointer;
}
.event-slide .my-button-next {
    content: '';
    width: 73px;
    height: 50px;
    background: url('../../img/event_arrow.png') no-repeat top right;
    -webkit-background-size: 156px 50px;
    background-size: 140px 45px;
    flex: none;
    cursor: pointer;
}
.event-slide .event-btn {
    display: block;
    width: 200px;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    margin-top: 50px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--color-white);
    background-color: #423d3d;
}


.main-page .mobile-nav { display: none; }



@media screen and (max-width : 720px) {
    .pages { padding: 30px 20px 60px; }
    .pages .wrapper { padding: 0; }
    .pages.seperate { flex-direction: column; }


    /* EVENT */
    .pages#page-event .slider-area .swiper .swiper-pagination-bullet { width: 10px; height: 12px; }
    .pages#page-event .slider-area .swiper .swiper-pagination-bullet-active { width: 30px; }
    .pages#page-event .slider-area { margin: 30px 0 12px; height: 200px; border-radius: 12px; }
    .pages#page-event .grid-area { gap: 12px; }
    .pages#page-event .grid-area .events { width: calc(50% - 6px); }



    /* COUPON */
    #pages-coupon .pages-form ul li { padding: 0 15px; }
    #pages-coupon .pages-form ul li .text-contents { padding: 20px; min-width: 75%; }
    #pages-coupon .pages-form ul li .download { width: 30%; }
    #pages-coupon .pages-form ul li .text-contents .coupon-period { font-size: 11px; }



    /* 페이지 내 이벤트 슬라이드 */
    .event-slide { padding: 60px 0; }
    .event-slide .wrapper { gap: 0; padding: 0; }
    .event-slide h1.title { font-size: 20px; margin-bottom: 20px; }
    .event-slide h3.sub-title { font-size: 15px; margin-bottom: 40px; }
    .event-slide .my-button-prev, .event-slide .my-button-next { display: none; }
    .event-slide .event-btn { margin-top: 30px; }
    .page-event-slide .swiper-slide {
        border-radius: 8px;
        overflow: hidden;
    }

    .page-event-slide .swiper-slide img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }



    .main-page .mobile-nav { display: flex; width: 100%; position: relative; z-index: 2; }
    .main-page .mobile-nav ul { width: 100%; display: flex; }
    .main-page .mobile-nav ul li { position: relative; width: 100%; }
    .main-page .mobile-nav ul li .current-menu {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    .main-page .mobile-nav ul li .current-menu.major { background-color: var(--default-background); }
    .main-page .mobile-nav ul li .current-menu.minor { background-color: var(--color-black); }
    .main-page .mobile-nav ul li .current-menu.sub { background-color: var(--color-lightBlack); }
    .main-page .mobile-nav ul li .current-menu span { color: var(--color-white); font-size: 14px; }


    .mobile-nav .menus { 
        width: 100%;
        position: absolute;
        transition: all .25s;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: start;
        border: 1px solid var(--color-gray);
        border-width: 0 1px 1px;
        max-height: 0;
        overflow: hidden;
    }
    .mobile-nav .menus.open { max-height: 1000px; }
    .mobile-nav .menus a {
        text-align: left;
        display: block;
        padding: 12px 20px;
        width: 100%;
        border-bottom: 1px solid var(--color-gray);
    }
    .mobile-nav .menus a:last-child { border-bottom: 0; }


    #pages-review .items { gap: 60px; }
    #pages-review .items li { width: 100%; }
}