.pages { padding: 60px 0 120px; }
.pages.seperate { display: flex; justify-content: space-between; align-items: start; gap: 50px; }
.pages.seperate .pages-seperate { width: 100%; }
.pages h1.page-title { font-weight: 600; font-size: 24px; margin-bottom: 30px; }
.pages .small-btns { display: flex; justify-content: end; margin: 20px 0; gap: 20px; }
.pages .small-btns.between { justify-content: space-between; }
.pages .small-btns.between .flex { display: flex; align-items: center; gap: 20px; }

.pages .pages-body .body-header.text-contents {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0 50px;
}
.pages .pages-body .body-header.text-contents p { font-weight: 600; font-size: 14px; }
.pages .pages-body .body-header.text-contents p span { font-weight: 400; color: var(--color-darkGray); }
.pages .pages-body .btns { margin-top: 30px; display: flex; align-items: center; gap: 30px; }
.pages .pages-body .btns button { width: 100%; height: 42px; border-radius: 5px; font-size: 16px; font-weight: 500; }


.pages form.pages-form ul { display: flex; flex-direction: column; }
.pages form.pages-form ul li { position: relative; display: flex; align-items: center; }
.pages form.pages-form ul li label { flex: none;}
.pages form.pages-form ul li textarea { height: 300px; resize: none; }
.pages .main-btns { width: 100%; display: flex; align-items: center; justify-content: center; gap: 30px; margin-top: 30px; }
.pages .main-btns button { width: 100%; height: 40px; font-size: 14px; font-weight: 500; border-radius: 5px; }
.pages .contents-top { position: relative; display: flex; justify-content: space-between; align-items: center; width: 100%; }



/* Q&A */
.pages .qna-section table tr { cursor: pointer; position: relative; transition: all 0.25s; }
.pages .qna-section table tr:hover { background-color: var(--brand-lightColor); }
.pages#qna-writer form.pages-form ul { gap: 20px; }
.pages#qna-writer form.pages-form ul li { gap: 12px; }

.pages#qna-details form.pages-form { margin-top: 30px; }
.pages#qna-details form.pages-form ul li { position: relative; width: 100%; border: 1px solid var(--color-darkGray); border-width: 1px 0 0; padding: 12px; }
.pages#qna-details form.pages-form ul li:last-child { border-bottom: 1px solid var(--color-darkGray); min-height: 200px; }
.pages#qna-details form.pages-form ul li p { font-weight: 600; }



/* EVENT */
.pages#page-event .slider-area { position: relative; margin: 60px 0 30px; height: 300px; overflow: hidden; border-radius: 30px; }
.pages#page-event .slider-area .swiper { width: 100%; height: 100%; }
.pages#page-event .slider-area .swiper .swiper-pagination-bullet {
    position: relative;
    transition: all 0.25s;
    width: 13px; 
    height: 13px; 
    background-color: var(--color-white); 
    opacity: 1; 
    border-radius: 50px; 
}
.pages#page-event .slider-area .swiper .swiper-pagination-bullet-active { width: 50px; background-color: var(--brand-color); }
.pages#page-event .slider-area div img { width: 100%; height: 100%; object-fit: cover; }
.pages#page-event .grid-area { position: relative; display: flex; justify-content: start; gap: 35px; flex-wrap: wrap; }
.pages#page-event .grid-area .events { position: relative; width: calc((100% / 3) - 24px); }
.pages#page-event .grid-area .events a { position: relative; overflow: hidden; display: block; width: 100%; height: 100%;  }
.pages#page-event .grid-area .events a img { position: relative; transition: all 0.25s; }
.pages#page-event .grid-area .events a:hover img { transform: scale(1.2); }
.pages#page-event .grid-area .events a .hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
}
.pages#page-event .grid-area .events a:hover .hover { opacity: 1;}
.pages#page-event .grid-area .events a .hover p { font-weight: 500; color: var(--color-white); font-size: 24px; }
#event-slide .contents-view .swiper { height: 300px; width: 100%; }
#event-slide .contents-view .swiper .contents { height: 100%; }
#event-slide .contents-view .swiper .contents .img img { object-fit: cover; }



/* MY PAGE */
#pages-mypage .mypage-category {
    width: 100%;
    margin: auto;
    text-align: left;
    border: 1px solid var(--color-gray);
    border-radius: 15px;
}
#pages-mypage .mypage-category li { position: relative; padding: 12px 30px; width: 100%;  border-bottom: 1px solid var(--color-gray);
}
#pages-mypage .mypage-category li:last-child { border-bottom: 0; }
#pages-mypage .mypage-category li a { display: block; width: 100%; display: flex; align-items: center; justify-content: space-between; }




/* COUPON */
#pages-coupon .pages-form ul {
    max-height: 500px;
    overflow: auto;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    padding: 30px 0;
}
#pages-coupon .pages-form ul li {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#pages-coupon .pages-form ul li:last-child { border-bottom: 0; }
#pages-coupon .pages-form ul li .text-contents {
    position: relative;
    border: 1px solid var(--color-darkGray);
    border-right : 1px dashed var(--color-darkGray);
    padding: 30px; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    gap: 6px; 
    min-width: 300px;
}
#pages-coupon .pages-form ul li .text-contents::before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    right: -8px;
    z-index: 2;
    background-color: var(--color-white);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-bottom: 1px solid var(--color-darkGray);
    border-right: 1px solid var(--color-darkGray);
}
#pages-coupon .pages-form ul li .text-contents::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    right: -8px;
    z-index: 2;
    background-color: var(--color-white);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-top: 1px solid var(--color-darkGray);
    border-left: 1px solid var(--color-darkGray);
}
#pages-coupon .pages-form ul li .text-contents .coupon-title { font-size: 14px; }
#pages-coupon .pages-form ul li .text-contents .coupon-discount { font-size: 24px; font-weight: 600; }
#pages-coupon .pages-form ul li .text-contents .coupon-period { color: var(--color-placeholder); font-size: 12px; }
#pages-coupon .pages-form ul li .download {
    position: relative;
    transition: all .25s;
    width: 80px;
    border: 1px solid var(--color-darkGray);
    border-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#pages-coupon .pages-form ul li .download:hover { background-color: var(--color-lightGray); }
#pages-coupon .pages-form ul li .download p { font-size: 12px; font-weight: 500; }
#pages-coupon .pages-form ul li.used { cursor: no-drop; }
#pages-coupon .pages-form ul li.used::after {
        content: '사용완료';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: var(--color-white);
        font-weight: 500;
        font-size: 14px;
}
#pages-coupon .pages-form ul li.used .text-contents,
#pages-coupon .pages-form ul li.used .download { background-color: rgba(0, 0, 0, 0.5); }




@media screen and (max-width : 720px) {
    .pages { padding: 30px 20px 60px; }
    .pages .wrapper { padding: 0; }
    .pages.seperate { flex-direction: column; }


    /* EVENT */
    .pages#page-event .slider-area .swiper .swiper-pagination-bullet { width: 10px; height: 12px; }
    .pages#page-event .slider-area .swiper .swiper-pagination-bullet-active { width: 30px; }
    .pages#page-event .slider-area { margin: 30px 0 12px; height: 200px; border-radius: 12px; }
    .pages#page-event .grid-area { gap: 12px; }
    .pages#page-event .grid-area .events { width: calc(50% - 6px); }



    /* COUPON */
    #pages-coupon .pages-form ul li { padding: 0 15px; }
    #pages-coupon .pages-form ul li .text-contents { padding: 20px; min-width: 75%; }
    #pages-coupon .pages-form ul li .download { width: 30%; }
    #pages-coupon .pages-form ul li .text-contents .coupon-period { font-size: 11px; }
}