
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
  color: var(--color-black);
}

:root {
  --color-black : #333;
  --color-white : #fff;
  --color-red : #ee5050;
  --color-hover : #eee;
  --color-lightGray: #ddd;
  --color-placeholder : #797979;
  --brand-color: #ff9933;
  --brand-color-hover: #fbb46d;
  --default-background: #111;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input[type="text"],
input[type="password"] {
  position: relative;
  transition: all 0.25s;
  border: 1px solid var(--color-lightGray);
  padding: 0 20px;
  font-size: 16px;
  height: 42px;
  min-width: 200px;
  border-radius: 5px;
  color: var(--color-black);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder { color: var(--color-placeholder); }

input[type="text"]:focus,
input[type="password"]:focus { border: 1px solid var(--color-black); }

input[type="checkbox"] { display: none; }
input[type="checkbox"] + label { cursor: pointer; display: flex; align-items: center; gap: 6px; }
input[type="checkbox"] + label::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('../public/check-icon-bold.svg');
  border: 1px solid var(--color-lightGray);
  background-size: 100%;
  border-radius: 3px;
  position: relative;
  transition: all .25s;
}
input[type="checkbox"]:checked + label::before { background-color: var(--color-placeholder); border-color: var(--color-placeholder); }

select {
  height: 42px;
  min-width: 200px;
  border: 0;
  padding: 0 20px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--color-lightGray);
  font-size: 16px;
  color: var(--color-black);
}

input:focus {
  outline: none;
}

button {
  position: relative;
  transition: all 0.25s;
  background: none;
  border: 0;
  cursor: pointer;
}

button.primaryBtn { background-color: var(--brand-color); color: var(--color-white); }
button.primaryBtn:hover { background-color: var(--brand-color-hover); }
button.disabledBtn { background-color: var(--color-lightGray); color: var(--color-white); cursor: no-drop; }
button.blackBtn { background-color: var(--default-background); color: var(--color-white); }
button.blackBtn:hover { background-color: var(--color-black); }
button.whiteBtn { background-color: var(--color-white); color: var(--color-black); }

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Thin.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-ExtraLight.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Light.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Regular.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Medium.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-SemiBold.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Bold.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-ExtraBold.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Black.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper { width: 1280px; margin: auto; }
.inner { width: 800px; margin: auto; }
