
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}

:root {
  --color-black : #333;
  --color-white : #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input[type="text"] {
  border: 0;
  padding: 0 20px;
  font-size: 16px;
  height: 42px;
}

select {
  height: 42px;
  min-width: 100px;
  border: 0;
  padding: 0 20px;
  outline: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Thin.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-ExtraLight.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Light.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Regular.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Medium.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-SemiBold.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Bold.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-ExtraBold.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard/woff/Pretendard-Black.woff') format('woff'),
        url('./fonts/Pretendard/woff2/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inner {
  width: 1280px;
  margin: auto;
}
